<%= render "home/header" %>
<p>displaying posts of the <%= current_user.username %></p>
<p><% @userposts.each do |p|  %></p>
  <p><%= p.text %></p>
  <p><%= time_ago_in_words(p.created_at) %></p>
<% end %>
